services:
  mysql:
    image: mariadb:11.2
    platform: linux/amd64
    container_name: crm-mysql
    restart: unless-stopped
    environment:
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - crm-network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crm-app
    restart: unless-stopped
    ports:
      - "8080:8081" # Браузер звертається до 8080
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:mariadb://mysql:3306/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      SERVER_PORT: 8081
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - crm-network

  frontend:
    image: node:24-alpine
    container_name: crm-frontend-dev
    working_dir: /app/frontend
    volumes:
      - .:/app
    ports:
      - "5173:5173"
    command: sh -c "npm run dev -- --host"
    networks:
      - crm-network
    depends_on:
      - app

volumes:
  mysql_data:

networks:
  crm-network:
    driver: bridge