services:
  frontend:
    image: node:24-alpine
    container_name: crm-frontend-dev
    working_dir: /app/frontend
    volumes:
      - .:/app
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host"
