apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: crm
  labels:
    app: grafana
    tier: monitoring
spec:
  type: NodePort
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30300
      protocol: TCP
      name: http
  selector:
    app: grafana